@import "common/style.scss";

.cart_box{width: 996px;margin: 0 auto;text-align: center;}
.cart_box .cart_tit{margin: 10px auto 0;overflow: hidden;font-size: 16px;line-height: 30px;margin-bottom: 10px;height: 30px;}
.cart_box .cart_tit .tit_{display: inline-block;float: left;width: 45%;border-top: 1px dashed #d5d5d5;margin-top: 14px;}
.cart_box .cart_tit .tit_text{width: 10%;color: #909090;font-weight: bold;border: none;display: inline-block;float: left;}
.cart_box .cart_no{padding: 100px 0;text-align: center;margin: 0 auto 15px;width: 996px;overflow: hidden;color: #626262;display: none;}
.cart_box .cart_no a{color:#626262;text-decoration: underline;}
.cart_box .cart_has table{width: 996px;margin: 0 auto;overflow: hidden;border:none;color: rgb(98, 98, 98);}
.cart_box .cart_has table tbody{width: 996px;margin: 0 auto;}

.cart_box .cart_has table tr>th{height: 27px;;line-height: 27px;text-align: left;background: #ededed;font-weight: normal;color: rgb(98, 98, 98);}
.cart_box .cart_has table tr>th span{width: 180px;display: inline-block;margin: 0px 5px 0px 0px;text-align: center;padding-left: 20px;}
.cart_box .cart_has table .cart_line{border: 1px solid black;}
.cart_box .cart_has table .cart_line td{padding-left: 20px;text-align: center;}
.cart_box .cart_has table .cart_line td>dl{width: auto;margin: 10px 0px 0px -20px;}
.cart_box .cart_has table .cart_line td>dl dd{font-size: 14px;float: left;text-align: left;margin-left: 10px;}
.cart_box .cart_has table .cart_line td>dl dd>input{border: 1px solid #D5D5D5;height: 20px;width: 20px;background: #fff;text-align: center;line-height: 20px;margin-right: 3px;}
.cart_box .cart_has table .cart_line td>dl dt{overflow: hidden;height: 65px;width: 65px;float: left;padding-bottom: 10px;}
.cart_box .cart_has table .cart_line td>dl dt>img{width: 65px;height: 65px;vertical-align: middle;}
.cart_box .cart_has table .cart_line td a{display: inline-block;line-height: 20px;width: 20px;height: 20px;border: 1px solid #D5D5D5;background: #fff;text-align: center;color: rgb(98, 98, 98);}
.cart_box .cart_has table .cart_line td input{width: 20px;height: 20px;border: 1px solid #d5d5d5;display: inline-block;line-height: 20px;text-align: center;margin:0px 3px;outline: none;}
.cart_box .cart_has .cart_shopping{text-align: right;line-height: 30px;height: 30px;}
.cart_box .cart_has .cart_shopping a{padding-right: 10px;}
.cart_box .cart_has .cart_close{position: relative;margin-top: 20px;text-align: left;color: #626262;}
.cart_box .cart_has .cart_close a{color: #626262;}
.cart_box .cart_has .cart_close>p{width: 740px;height: 60px;float: left;line-height: 60px;}
.cart_box .cart_has .cart_close>p>a{float: left;}
.cart_box .cart_has .cart_close>p a:first-child{margin-right: 10px;}
.cart_box .cart_has .cart_close>p a:last-child{margin-left: 15px;}
.cart_box .cart_has .cart_close span{margin-bottom: 20px;font-size: 16px;border: 1px solid #D5D5D5;display: inline-block;padding-left: 20px;height: 60px;line-height: 60px;width: 230px;background: #ededed;;}
.cart_box .cart_has .cart_close .cart_next{position: absolute;right: 10px;top: 16px;}
.cart_box .cart_has .cart_close .cart_next>a{background: #ff0;font-size: 14px;height: 30px;padding:0px 13px;height: 30px;line-height: 30px;LETTER-SPACING: 0.2em;display: inline-block;}
.hidden{display: none;}
